 /* Paramètres généraux */

 @font-face {
    font-family: "font-reg";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "font-bold";
    src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}


 /* Styles CSS */

*
{
    padding: 0;
    margin: 0;
}


html
{
    scroll-behavior: smooth;
}

body 
{
    font-family: "font-reg", serif;
}


/* Header */


header
{
    margin: 2vw 2vw 0;
}

.back-button
{
    font-size: 22px;
    width: 92px;
    cursor: pointer;
    color: #000101;
    text-decoration: none;
    position: relative;
}
.expand
{
    font-size: 15px;
    width: 92px;
    cursor: pointer;
    color: #000101;
    text-decoration: none;
    position: relative;
}


.bar-animation::after
{
    content: "";
    position: absolute;
    width: 100%;
    background: #000101;
    height: 1px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}

.bar-animation:hover
{
    color: rgb(83 82 82);
}

.bar-animation:hover::after
{
    animation: animLink 1.4s infinite ease-in-out;
}

@keyframes animLink 
{
    50%
    {
        transform: scaleX(0.2);
    }
    100%
    {
        transform: scaleX(1);
    }
}

.about 
{
    margin: 60px 0 150px;
}

.img 
{
    height: 285px;
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: 1.6s;
}

.img:hover 
{
    filter: grayscale(10%);
}

.img1 
{
    background: url("../img/Les_3_challenges_du_Frontend_Mentor.png");
    border-radius: 40px;
    background-size: cover;
    background-position: center;
}

h2 
{
    font-size: calc(3rem + 5vw);
    text-align: center;
    color: rgb(83 82 82);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}

.h2-wrapper 
{
    mix-blend-mode: multiply;
    margin: -40px 0 100px;
}

.about p 
{
    width: 70%;
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 4.5vw);
    font-size: calc(1rem + 1vw);
    letter-spacing: 1px;
}

.line 
{
    height: 0.5px;
    width: 70%;
    margin: 0 auto;
    background: #000101;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
    transition-delay: 0.45s;
    opacity: 0;
    transform: scaleX(0);
}

.line-wrapper.is-inview .line
{
    opacity: 1;
    transform: scaleX(1);
}


/* Section */

.project-container
{
    margin: 150px 0 100px;
}

.project
{
    position: relative;
    width: 70%;
    margin: 0 auto;
}

#p2
{
    margin: 160px auto;
}

.project img
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 20%);
}

.project-title
{
    font-size: 45px;
    text-align: center;
    padding-bottom: 52px;
    text-decoration: underline;
    
}

.project-infos
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

.info-1
{
    display: flex;
    gap: 20px;
}

.project-infos a
{
    color: #000101;
}

.project-infos a:hover
{
    color: rgb(83 82 82)
}


/* Footer */

footer
{
    margin: 120px 0 80px;
}

h3
{
    font-size: calc(3rem + 2vw);
    text-align: center;
    color: rgb(83 82 82);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}


/*Media Querry*/

@media screen and (max-width: 550px)
{

    .back-button
    {
        font-size: 18px;
    }

    h2
    {
        font-size: calc(2rem + 5vw);
    }

    .expand
    {
        font-size: 9px;
    }

    .project
    {
        width: 80%;
    }

    .project-infos
    {
        font-size: 9px;
    }

    h3
    {
        font-size: calc(2rem + 2vw);
    }
}
